{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="card mx-auto text-white bg-dark m-5 align-center" style="max-width: 60rem;">
        <div class="card-header text-center">FORMULAIRE DE RÉSERVATION</div>
        <div class="card-body">
            <form>
            <div class="form-group row">
                <label for="datetime-local-input" class="col-2 col-form-label">Jour de visite:</label>
                <div class="col-10">
                    <input class="form_cart_datetime" type="datetime-local" value="2019-05-06T13:45:00" id="datetime-local-input">
                </div>
            </div>
            <div class="row form_group_quatity m-4">
                <label for="form_cart_quantity">Quantité:</label>
                <select class="form-control" id="form_cart_quantity">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="form_cart_type_day m-4">
                <label for="form_cart_type_day">Type de visite:</label>
                <select class="form-control" id="form_cart_type_day">
                    <option>Journée</option>
                    <option>Demi-journée</option>
                </select>
            </div>
            </form>
            <button type="submit" class="btn btn-light mt-5 btn-lg btn-block">CONTINUER</button>
        </div>
    </div>
{% endblock %}