{% extends 'base.html.twig' %}
{% block title %}
    Mentions légales

{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <h2 class="text-center text-white">Mentions légales</h2>
        <div class="container text-white">
            <div class="container-inner" id="wysiwyg">
                <h2>
                    Informations éditeur</h2>
                <p>Musée du Louvre<br>
                    Musée du Louvre, Pavillon Mollien,<br>
                    75058 PARIS CEDEX 01<br>
                    Siret 180 046 237 00012 APE 9103Z<br>
                    Tel : 01 40 20 50 50</p>
                <p>	Directeur de Publication : Jean-Luc MARTINEZ, Président-Directeur</p>
                <h2>
                    Rédaction du site Internet</h2>
                <p>Musée du Louvre<br>
                    Service des Productions numériques et audiovisuelles<br>
                    Direction de la Médiation et de la Programmation culturelle<br>
                    75058 Paris cedex 01<br>
                    France<br>
                    <a href="mailto:Question-internet@louvre.fr">Question-internet@louvre.fr</a><br>
                    &nbsp;</p>
                <h2>
                    Données à caractère personnel</h2>
                <p>L’Etablissement Public du Musée du Louvre (EPML), 75058 Paris CEDEX 01, responsable de traitement, est amené à collecter, utiliser, transférer, conserver ou effectuer tout autre traitement de données à caractère personnel vous concernant dans le cadre de l’animation de son site internet.&nbsp;</p>
                <p>Le délégué à la protection des données (DPO) de l’Etablissement Public du Musée du Louvre depuis le 13 mars 2019 est le cabinet d’avocats Alain Bensoussan Selas, 58 boulevard Gouvion-Saint-Cyr, 75017 Paris.</p>
                <p>Plus précisément, le site louvre.fr anime un écosystème de sites susceptibles de collecter des données à caractère personnel dans le cadre de :<br>
                    &nbsp;&nbsp;- Achat de billets d’entrée au Musée du Louvre (<a href="{{path('home')}}">www.ticketlouvre.fr</a>)<br>
                <p>Les données traitées par le site internet louvre.fr à l’exclusion de celles mentionnées ci-avant le sont exclusivement à des fins d’études statistiques via Piwik et Google analytics ; ces données sont anonymisées.</p>
                <p><strong>I. le traitement de vos données personnelles</strong></p>
                <p><strong>&nbsp;&nbsp;1/ Achat de billets d’entrée : Ticketlouvre.fr :</strong></p>
                <p>La collecte des données est nécessaire pour la conclusion de la vente des billets d’entrée au Musée Louvre.</p>
                <p>Les traitements réalisés par le Musée ont pour finalités :<br>
                    &nbsp;&nbsp;- la gestion des commandes<br>
                    &nbsp;&nbsp;- la finalisation des transactions commerciales<br>
                    &nbsp;&nbsp;- l’information des visiteurs et la gestion de leurs&nbsp; relations avec&nbsp; l’EPML<br>
                    &nbsp;&nbsp;- l’envoi d'informations et de sollicitations ;<br>
                    &nbsp;&nbsp;- la réalisation d’études statistiques.&nbsp;</p>
                <p>Les données enregistrées sont réservées à l’usage du service exploitation billetterie de la&nbsp; Direction de l’accueil du Public et de la Surveillance, du service développement des publics et fidélisation et du responsable des visites protocolaires de la&nbsp; Direction des Relations extérieures, du service des systèmes de billetterie et gestion des publics de la Direction Juridique, Financière et des Moyens et du service de la caisse générale de l’Agence Comptable et peuvent être communiquées à ses prestataires sous-traitant pour le développement et la maintenance du système de billetterie et sa monétique.</p>
                <p>Les données à caractère personnel ainsi collectées seront conservées pour les durées suivantes :<br>
                    &nbsp;&nbsp;- les données administratives relatives aux achats effectués sur le site sont conservées pour une durée de 15 mois&nbsp; à compter dudit achat ;<br>
                    &nbsp;&nbsp;- les données relatives aux paiements effectués dans le cadre des achats effectués sont conservées pendant une durée de [.] mois à compter du parfait paiement dudit achat (ou sont supprimées à compter de la confirmation du parfait paiement dudit achat).&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p>Les données récoltées ne font l’objet d’aucun flux transfrontière.</p>
                <p><strong>2/ Envois de Newsletter :</strong></p>
                <p>Les données personnelles sont collectées sur la base de votre consentement et nécessaire à l’envoi de news-letter à votre intention.</p>
                <p>Les traitements réalisés par le Musée ont pour finalités :<br>
                    &nbsp;&nbsp;- l’envoi d'informations et de sollicitations ;<br>
                    &nbsp;&nbsp;- la réalisation d’études statistiques.</p>
                <p>Les données enregistrées sont réservées à l’usage de la Direction de la Médiation et de la Programmation Culturelle (DMPC) et la Direction des Relations Extérieures (DRE) et peuvent être communiquées à ses prestataires sous-traitants.</p>
                <p>Les données à caractère personnel ainsi collectées sont conservées pour une durée de 3 ans à compter de la dernière connexion.</p>
                <p>Les données récoltées ne font l’objet d’aucun flux transfrontière.</p>
                <p><strong>3/ l’Espace personnel</strong></p>
                <p>Les données personnelles sont collectées sur la base de votre consentement et nécessaire à l’activation de votre espace personnel.</p>
                <p>Le traitement réalisé par l’EPML a pour finalité la création, la gestion et l’animation d’un compte personnel.<br>
                    Les données enregistrées sont réservées à l’usage de la Direction de la Médiation et de la Programmation Culturelle (DMPC) et peuvent être communiquées à ses prestataires sous-traitant et notamment la société Claranet, en tant qu’hébergeur du site internet.<br>
                    Les données à caractère personnel ainsi collectées sont conservées pour une durée de 3 ans à compter de la dernière connexion.<br>
                    Les données récoltées ne font l’objet d’aucun flux transfrontière.</p>
                <p>&nbsp;</p>
                <p><strong>4/ Page de contact question sur la visite, réclamation, objet perdu</strong></p>
                <p>La collecte de ces données est basée sur votre consentement et permet le traitement de votre demande</p>
                <p>Le traitement réalisé par l’EPML a pour finalité la gestion des relations avec les internautes et les visiteurs du Musée (réponses aux questions, gestions des réclamations)<br>
                    Les données enregistrées sont réservées à l’usage de la Direction de l’accueil du public et de la surveillance et de la direction financière juridique et des moyens de l’EPML.<br>
                    Les données à caractère personnel ainsi collectées sont conservées pour une durée de 3 ans à compter du dernier échange.<br>
                    Les données récoltées ne font l’objet d’aucun flux transfrontière.</p>
                <p><strong>5/ Enquête de satisfaction</strong></p>
                <p>Les données personnelles sont traitées par l’EPML conformément à son intérêt légitime d’amélioration de ses activités et de satisfaction de ses publics.</p>
                <p>Le traitement réalisé par l’EPML a pour finalité la réalisation d’enquête de satisfaction en ligne.<br>
                    Les données enregistrées sont réservées à l’usage de l’EPML et ne sont pas communiquées à des prestataires sous-traitant. Les données à caractère personnel ainsi collectées sont conservées pour une durée de 3 ans an à compter de la réalisation de l’enquête.<br>
                    Les données récoltées ne font l’objet d’aucun flux transfrontière.</p>
                <p><strong>6/ Soutien financier</strong></p>
                <p>Les données personnelles sont traitées par l’EPML conformément à son intérêt légitime de favoriser l’obtention de dons, dans le cadre des opérations de mécénat, aussi bien des particuliers que des entreprises et, en particulier, pour les finalités suivantes :</p>
                <p>Les traitements réalisés par l’EPML ont pour finalité :<br>
                    &nbsp;&nbsp;- La gestion et le suivi des dons ;<br>
                    &nbsp;&nbsp;- L’établissement et envoi de reçus fiscaux ;<br>
                    &nbsp;&nbsp;- L’octroi de contrepartie et de remerciements aux donateurs<br>
                    &nbsp;&nbsp;- L’envoi d'informations et de sollicitations ;<br>
                    &nbsp;&nbsp;- La réalisation d’études et de statistiques.<br>
                    Les données enregistrées sont réservées à l’usage de la Direction des relations extérieures et de l’agence comptable de l’EPML et peuvent être communiquées à ses prestataires sous-traitant la société Iraiser, prestataire en charge de la plateforme de dons ; la société B&amp;C, la société edeal pour les relations avec les mécènes<br>
                    Les données à caractère personnel ainsi collectées sont conservées pour une durée de 3 ans à compter du dernier contact avec le donateur.</p>
                <p>Les données récoltées ne font l’objet d’aucun flux transfrontière.</p>
                <p>&nbsp;</p>
                <p><strong>II&nbsp; Vos droits concernant vos données personnelles :</strong></p>
                <p>Conformément à la loi du 6 janvier 1978 modifiée dite « Informatique et Libertés » et au règlement européen 2016/679 du 27 avril 2016 dit « Règlement Général sur la Protection des Données », vous disposez d’un droit d’accès, d’interrogation, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez ainsi exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations vous concernant qui sont inexactes, incomplètes, équivoques, ou périmées. Vous pouvez également exercer vos droits d’opposition et de limitation du traitement de vos données ainsi que votre droit à la portabilité des informations vous concernant.</p>
                <p>Les données sur lesquelles peut s’exercer ce droit sont :<br>
                    &nbsp;&nbsp;- uniquement vos données personnelles, ce qui exclut les données personnelles anonymisées ou les données qui ne vous concernent pas ;<br>
                    &nbsp;&nbsp;- les données personnelles déclaratives ainsi que les données personnelles de fonctionnement ;<br>
                    &nbsp;&nbsp;- les données personnelles qui ne portent pas atteinte aux droits et libertés de tiers telles que celles protégées par le secret des affaires.</p>
                <p>Ce droit est limité aux traitements basés sur le consentement ou sur un contrat ainsi qu’aux données personnelles que vous avez personnellement générées.<br>
                    Ce droit n’inclut ni les données dérivées ni les données inférées, qui sont des données personnelles créées par le Responsable du traitement.</p>
                <p>Par ailleurs, vous disposez également du droit de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel après votre décès.&nbsp;<br>
                    La communication de directives spécifiques post-mortem et l’exercice des droits peuvent être exercés par courrier postal à l’adresse suivante musée du Louvre, 75058 Paris CEDEX 01 ou par courrier électronique à l’adresse suivante : <a href="mailto:donneespersonnelles@louvre.fr">donneespersonnelles@louvre.fr</a>.</p>
                <p>Afin d’exercer vos droits, vous pouvez adresser une demande à l’adresse électronique suivante : <a href="mailto:donneespersonnelles@louvre.fr">donneespersonnelles@louvre.fr</a>.</p>
                <p>Dans le cadre de l’exercice de vos droits, vous devez justifier de votre identité par tout moyen. En cas de doute sur votre identité, l’EPML pourra possiblement demander des informations supplémentaires apparaissant nécessaires, y compris la photocopie d’un titre d’identité portant votre signature.</p>
                <p>Vous avez la possibilité d’introduire une réclamation auprès de la Cnil à l’adresse suivante : 3 Place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07.</p>
                <h2>
                    Contenus protégés par des droits de propriété intellectuelle</h2>
                <p class="rtejustify">1)&nbsp; La structure générale du site Internet, ainsi que les logiciels et les bases de données sont la propriété exclusive du musée du Louvre. Toute reproduction, toute représentation totale ou partielle, toute utilisation, toute adaptation, toute mise à disposition ou modification de ces éléments par quelque procédé que ce soit, par quelque personne que ce soit et par quelque moyen que ce soit (notamment la vente, la commercialisation, la location, etc.) sans l’autorisation expresse du musée, des éventuels auteurs ou de leurs ayant droits est strictement interdite et constitue un délit de contrefaçon au sens du code de la propriété intellectuelle.</p>
                <p class="rtejustify">2)&nbsp; Les contenus scientifiques, culturels et pédagogiques (textes, documents sonores, audiovisuels et multimédia, sans que cette énumération soit limitative) ainsi que les reproductions iconographiques et photographiques des œuvres présentés dans ce site avec une signature ou un&nbsp; ©&nbsp; sont protégés au titre du droit de la propriété intellectuelle.</p>
                <p class="rtejustify">Parmi ces contenus, les photographies et textes peuvent être réutilisées aux conditions suivantes :</p>
                <p class="rtejustify"><strong>Photographies</strong><br>
                    Les photographies créditées © Musée du Louvre / [ …] sont la propriété exclusive du musée du Louvre et sont utilisées par le musée du Louvre avec l’autorisation de leurs auteurs ou ayants-droits. Les photographies créditées © RMN / [ …] sont la propriété de la RMN. Toute réutilisation non commerciale est autorisée sous condition de&nbsp; la mention de la source et de l’auteur. Pour toute réutilisation&nbsp; commerciale et/ou éditoriale d’image des collections du Musée du Louvre, du Palais, du domaine Louvre Tuileries, du Musée Delacroix ou encore de la scénographie des expositions et autres manifestations culturelles organisées par le Musée du Louvre.</p>
                <p class="rtejustify"><strong>Ecrits&nbsp;</strong><br>
                    Le musée du Louvre est cessionnaire des textes des parcours de visites et de notices d’œuvres. Toute réutilisation de ces écrits est libre, à la condition que ces derniers ne soient pas altérés, que leur sens ne soit pas dénaturé, et que leurs sources et la date de leur dernière mise à jour soient mentionnées. Toute réutilisation commerciale est soumise à l'accord préalable et exprès du musée du Louvre. Pour toute demande entrant dans ce cadre, merci de contacter le Service Multimédia du musée du Louvre.</p>
                <p class="rtejustify">3)&nbsp; Les marques du musée du Louvre et de ses partenaires, ainsi que les logos figurant sur le site sont des marques déposées et enregistrées auprès de l'INPI et sont, à ce titre, protégés par un droit de propriété industrielle.</p>
                <p class="rtejustify">Toute reproduction totale ou partielle de ces marques et/ou de ces logos effectués à partir des éléments du site sans l’autorisation expresse de leurs propriétaires est strictement interdite et constitue un délit de contrefaçon au sens du code de la propriété intellectuelle.</p>
                <h2>
                    Informations publiques&nbsp;</h2>
                <p class="rtejustify">Conformément aux articles L 321-1 et L322-1 du code des relations entre le public et l’administration, les contenus informatifs et de programmation de ce site sont des informations publiques dont la réutilisation est libre, à la condition que ces dernières ne soient pas altérées, que leur sens ne soit pas dénaturé, et que leurs sources et la date de leur dernière mise à jour soient mentionnées.</p>
                <p class="rtejustify">Aucun transfert de propriété des informations publiques n'est opéré au profit du réutilisateur. Ce dernier bénéficie d'un droit personnel et non exclusif de réutilisation de ces informations publiques. Toute personne réutilisant des informations publiques en violation des prescriptions susmentionnées est passible d'une amende prononcée par la commission d'accès aux documents administratifs.</p>
                <h2>
                    Cookies</h2>
                <p class="rtejustify">L’utilisateur est informé que lors de ses visites sur le site un cookie peut s’installer automatiquement sur son logiciel de navigation. Le cookie est un bloc de données qui ne permet pas d’identifier les utilisateurs mais sert à enregistrer les informations relatives à la navigation de celui-ci sur le site. Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de la refuser de la manière décrite à l’adresse suivante : <a href="http://www.cnil.fr" title="www.cnil.fr">www.cnil.fr</a>. L’utilisateur dispose de l’ensemble des droits susvisés s’agissant des données à caractère personnel communiquées par le biais des cookies dans les conditions indiquées ci-dessus.</p>
                <h2>
                    Liens hypertextes&nbsp;</h2>
                <p class="rtejustify">Le site du musée du Louvre autorise la mise en place d'un lien hypertexte pointant vers son contenu dès lors qu'il ne crée pas de confusion sur la source des services et/ou contenus produits et/ou détenus par le musée du Louvre et sous réserve de :</p>
                <ul>
                    <li class="rtejustify">
                        ne pas utiliser la technique du lien profond ("deep linking"), c'est-à-dire que les pages du site <a href="http://www.louvre.fr" title="www.louvre.fr">www.louvre.fr</a> ne doivent pas être imbriquées à l'intérieur des pages d'un autre site, mais accessibles par l'ouverture d'une fenêtre.</li>
                    <li class="rtejustify">
                        mentionner la source qui pointera grâce à un lien hypertexte directement sur le contenu visé.</li>
                </ul>
                <p class="rtejustify">Les informations utilisées ne doivent l'être qu'à des fins personnelles, associatives ou professionnelles ; toute utilisation à des fins commerciales ou publicitaires est exclue.&nbsp;Attention ! Cette autorisation ne s'applique pas aux sites internet diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre ; et aux sites internet portant atteinte aux intérêts matériels ou moraux du musée du Louvre.<br>
                    Pour d'autres utilisations, veuillez nous consulter par courrier à l’adresse mentionnée ci-dessus ou par mail à <a href="mailto:question-internet@louvre.fr">question-internet@louvre.fr</a></p>
                <h2>
                    Responsabilité&nbsp;</h2>
                <p class="rtejustify">Le site <a href="http://www.louvre.fr" title="www.louvre.fr">www.louvre.fr</a> propose de nombreux liens vers d'autres sites, essentiellement des sites officiels (institutions, organismes publics, etc.) mais aussi vers quelques sites d'associations ou d'entreprises partenaires. Ces pages web dont les adresses sont régulièrement vérifiées, ne font pas partie du site public et officiel <a href="http://www.louvre.fr.&nbsp;" title="www.louvre.fr.&nbsp;">www.louvre.fr.&nbsp;</a></p>
                <p class="rtejustify">Le musée du Louvre n'est pas responsable de la teneur desdits autres sites, et ne sera tenu responsable d'aucun dommage ou préjudice en découlant. Les liens vers d'autres sites sont fournis aux utilisateurs uniquement par pure commodité.&nbsp;</p>
            </div>
        </div>
    <br>
{% endblock %}
