<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votre commande est bien validée</title>
</head>
<body>
<h2>Les informations détaillée du paiement</h2>
<h3>Site : <a>www.museedelouvre.fr</a></h3>
<p>Référence de paiement : {{ booking.refStripe }}</p>
<p>Imprimez ou enregistrez ce courriel pour pouvoir presenter au jour de la visité. La Musée de Louvre vous attend!</p>
</body>
</html>


